@tailwind base;
@tailwind components;
@tailwind utilities;

#bg {
  background-image: url("../images/black-smooth-textured-paper-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

* {
  transition: all 0.2s;
  scroll-behavior: smooth;
}
